spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    database: mysql
#    defer-datasource-initialization: true # 추후 초기화 데이터 삽입용
#  sql:
#    init:
#      mode: never
#      data-locations: classpath:sql/data.sql

logging.level:
  org.hibernate.SQL: debug
  codesqusd.shine.issuetracker.auth.interceptor: debug

cloud:
  aws:
    credentials:
      accessKey: ${ACCESS_KEY}
      secretKey: ${SECRET_KEY}
    region:
      static: ${REGION}
    stack:
      auto: false
    s3:
      bucket: ${BUCKET_NAME}
